:root {
  --border-table: #06141b;
  --box-bg-color: #11212d;
  --table-bg-color: #253745;
  --background: #9ba8ab;
  --title: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
  text-shadow: #474747 3px 5px 2px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(50px, 1fr));
  gap: 5px;
  border: 10px outset #b07847;
  background: #b94f32;
  background: -moz-radial-gradient(center, #b94f32 0%, #956e2a 100%);
  background: -webkit-radial-gradient(center, #b94f32 0%, #956e2a 100%);
  background: radial-gradient(ellipse at center, #b94f32 0%, #956e2a 100%);
}

.col {
  display: grid;
  gap: 5px;
}

.box,
.box-1 {
  border-radius: 50%;
  background-color: var(--background);
  max-width: 100%;
  min-height: 50px;
  cursor: pointer;
}

.circle {
  border-radius: 50%;
  max-width: 100%;
  min-height: 50px;
  transition: all 0.8s ease;
}

.red {
  background: #ce0000;
  background: -moz-radial-gradient(center, #ce0000 0%, #2a2a2a 100%);
  background: -webkit-radial-gradient(center, #ce0000 0%, #2a2a2a 100%);
  background: radial-gradient(ellipse at center, #ce0000 0%, #2a2a2a 100%);
}

.blue {
  background: #0932ce;
  background: -moz-radial-gradient(center, #0932ce 0%, #2a2a2a 100%);
  background: -webkit-radial-gradient(center, #0932ce 0%, #2a2a2a 100%);
  background: radial-gradient(ellipse at center, #0932ce 0%, #2a2a2a 100%);
}

.square-blue,
.square-red {
  background: #0932ce;
  max-width: 50px;
  min-height: 50px;
  transition: all 0.8s ease;
}

.circle:active {
  background-color: aqua;
}

/* From Uiverse.io by cssbuttons-io */
button {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
}

button:disabled {
  cursor: auto;
}

button:active:after {
  border-width: 0 0 0px;
}

button:active {
  padding-bottom: 10px;
}

@media only screen and (min-width: 600px) {
  body {
    background-color: red;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(80px, 1fr));
  }

  .box,
  .box-1 {
    border-radius: 50%;
    background-color: var(--background);
    max-width: 100%;
    min-height: 80px;
    cursor: pointer;
  }

  .circle {
    border-radius: 50%;
    max-width: 100%;
    min-height: 80px;
    transition: all 0.8s ease;
  }
}
